<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Hands-on Lab: API Examples
## Random User and Fruityvice API Examples


Estimated time needed: **30** minutes

## Objectives

After completing this lab you will be able to:

*   Load and use RandomUser API, using `RandomUser()` Python library
*   Load and use Fruityvice API, using `requests` Python library
*   Load and use Open-Joke-API, using `requests` Python library

The purpose of this notebook is to provide more examples on how to use simple APIs. As you have already learned from previous videos and notebooks, API stands for Application Programming Interface and is a software intermediary that allows two applications to talk to each other. 

The advantages of using APIs:
 *   **Automation**. Less human effort is required and workflows can be easily updated to become faster and more      
     productive.
 *   **Efficiency**. It allows to use the capabilities of one of the already developed APIs than to try to 
     independently implement some functionality from scratch.
 
The disadvantage of using APIs:
 *   **Security**. If the API is poorly integrated, it means it will be vulnerable to attacks, resulting in data breeches or losses having financial or reputation implications.

One of the applications we will use in this notebook is Random User Generator. RandomUser is an open-source, free API providing developers with randomly generated users to be used as placeholders for testing purposes. This makes the tool similar to Lorem Ipsum, but is a placeholder for people instead of text. The API can return multiple results, as well as specify generated user details such as gender, email, image, username, address, title, first and last name, and more. More information on [RandomUser](https://randomuser.me/documentation#intro) can be found here.

Another example of simple API we will use in this notebook is Fruityvice application. The Fruityvice API web service which provides data for all kinds of fruit! You can use Fruityvice to find out interesting information about fruit and educate yourself. The web service is completely free to use and contribute to.

## Example 1: RandomUser API
Bellow are Get Methods parameters that we can generate. For more information on the parameters, please visit this [documentation](https://randomuser.me/documentation) page.

## **Get Methods**

- get_cell()
- get_city()
- get_dob()
- get_email()
- get_first_name()
- get_full_name()
- get_gender()
- get_id()
- get_id_number()
- get_id_type()
- get_info()
- get_last_name()
- get_login_md5()
- get_login_salt()
- get_login_sha1()
- get_login_sha256()
- get_nat()
- get_password()
- get_phone()
- get_picture()
- get_postcode()
- get_registered()
- get_state()
- get_street()
- get_username()
- get_zipcode()

To start using the API you can install the `randomuser` library running the `pip install` command.

In [1]:
!pip install randomuser

Collecting randomuser
  Downloading randomuser-1.6.tar.gz (5.0 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: randomuser
  Building wheel for randomuser (setup.py): started
  Building wheel for randomuser (setup.py): finished with status 'done'
  Created wheel for randomuser: filename=randomuser-1.6-py3-none-any.whl size=5090 sha256=0f209e5d1b7c1b745c3ff1e8992e2e18d33b99ab93c04504723b40fc705537e3
  Stored in directory: c:\users\basma\appdata\local\pip\cache\wheels\b8\f3\19\6a938647065b4bb2471a9d063647d14d4fcc3236731f4e2b53
Successfully built randomuser
Installing collected packages: randomuser
Successfully installed randomuser-1.6

Then, we will load the necessary libraries.

In [2]:
from randomuser import RandomUser
import pandas as pd

First, we will create a random user object, r.

In [3]:
r = RandomUser()

Then, using `generate_users()` function, we get a list of random 10 users.

In [4]:
some_list = r.generate_users(10)

In [5]:
some_list

[<randomuser.RandomUser at 0x21910a972e0>,
 <randomuser.RandomUser at 0x21910a972b0>,
 <randomuser.RandomUser at 0x21910a97190>,
 <randomuser.RandomUser at 0x21910a95390>,
 <randomuser.RandomUser at 0x21910a961d0>,
 <randomuser.RandomUser at 0x21930adc520>,
 <randomuser.RandomUser at 0x21930adc2b0>,
 <randomuser.RandomUser at 0x21930adc250>,
 <randomuser.RandomUser at 0x21930adc280>,
 <randomuser.RandomUser at 0x21930adc460>]

The **"Get Methods"** functions mentioned at the beginning of this notebook, can generate the required parameters to construct a dataset. For example, to get full name, we call `get_full_name()` function.

In [7]:
name = r.get_full_name()
name

'Pirmin Roy'

Let's say we only need 10 users with full names and their email addresses. We can write a "for-loop" to print these 10 users.

In [8]:
for user in some_list:
    print (user.get_full_name()," ",user.get_email())

Mikael Waisanen   mikael.waisanen@example.com
Katrine Mortensen   katrine.mortensen@example.com
Alexander Anderson   alexander.anderson@example.com
Cesar Ellen   cesar.ellen@example.com
Christina Jackson   christina.jackson@example.com
Deniz Adal   deniz.adal@example.com
Karl-Hans Braun   karl-hans.braun@example.com
Noha Halma   noha.halma@example.com
Concetta Leclercq   concetta.leclercq@example.com
Pierre Brunet   pierre.brunet@example.com

## Exercise 1
In this Exercise, generate photos of the random 10 users.

In [11]:
## Write your code here
for picture in some_list:
    print(picture.get_picture())

https://randomuser.me/api/portraits/men/40.jpg
https://randomuser.me/api/portraits/women/67.jpg
https://randomuser.me/api/portraits/men/19.jpg
https://randomuser.me/api/portraits/men/47.jpg
https://randomuser.me/api/portraits/women/36.jpg
https://randomuser.me/api/portraits/women/26.jpg
https://randomuser.me/api/portraits/men/63.jpg
https://randomuser.me/api/portraits/women/8.jpg
https://randomuser.me/api/portraits/women/68.jpg
https://randomuser.me/api/portraits/men/20.jpg

<details><summary>Click here for the solution</summary>

```python
for user in some_list:
    print (user.get_picture())
```

</details>

To generate a table with information about the users, we can write a function containing all desirable parameters. For example, name, gender, city, etc. The parameters will depend on the requirements of the test to be performed. We call the Get Methods, listed at the beginning of this notebook. Then, we return pandas dataframe with the users.

In [12]:
def get_users():
    users =[]
     
    for user in RandomUser.generate_users(10):
        users.append({"Name":user.get_full_name(),"Gender":user.get_gender(),"City":user.get_city(),"State":user.get_state(),"Email":user.get_email(), "DOB":user.get_dob(),"Picture":user.get_picture()})
      
    return pd.DataFrame(users)

In [19]:
get_users()

,Name,Gender,City,State,Email,DOB,Picture
0,Karen Sobotta,female,Ludwigsstadt,Sachsen-Anhalt,karen.sobotta@example.com,1983-12-17T04:10:18.882Z,https://randomuser.me/api/portraits/women/63.jpg
1,Carter Roberts,male,Blenheim,West Coast,carter.roberts@example.com,1963-12-02T08:55:20.907Z,https://randomuser.me/api/portraits/men/35.jpg
2,April Gonzales,female,Shepparton,Victoria,april.gonzales@example.com,1969-06-15T16:18:40.557Z,https://randomuser.me/api/portraits/women/30.jpg
3,Dale Gonzales,male,Hampton,Idaho,dale.gonzales@example.com,1990-10-15T14:30:37.849Z,https://randomuser.me/api/portraits/men/71.jpg
4,Inmaculada Leon,female,Orense,Asturias,inmaculada.leon@example.com,1963-10-13T17:03:54.115Z,https://randomuser.me/api/portraits/women/44.jpg
5,Dalvânia Viana,female,Florianópolis,Goiás,dalvania.viana@example.com,1975-02-08T16:24:59.453Z,https://randomuser.me/api/portraits/women/67.jpg
6,Jocelyne David,female,Dalpe,Schwyz,jocelyne.david@example.com,1952-07-26T12:04:49.361Z,https://randomuser.me/api/portraits/women/68.jpg
7,Sander Petersen,male,Nimtofte,Hovedstaden,sander.petersen@example.com,1984-02-03T02:40:44.824Z,https://randomuser.me/api/portraits/men/0.jpg
8,Anna-Lena Schmuck,female,Papenburg,Hessen,anna-lena.schmuck@example.com,1988-06-01T13:50:17.881Z,https://randomuser.me/api/portraits/women/3.jpg
9,Timothee Nguyen,male,Toulon,Yvelines,timothee.nguyen@example.com,1993-01-17T09:43:08.850Z,https://randomuser.me/api/portraits/men/38.jpg

In [20]:
df1 = pd.DataFrame(get_users())  
df1

,Name,Gender,City,State,Email,DOB,Picture
0,Nathaniel Roberts,male,Porirua,Nelson,nathaniel.roberts@example.com,1962-12-27T21:37:47.728Z,https://randomuser.me/api/portraits/men/95.jpg
1,Martinho Cavalcanti,male,Angra dos Reis,Sergipe,martinho.cavalcanti@example.com,1983-04-19T22:16:41.452Z,https://randomuser.me/api/portraits/men/37.jpg
2,Eugenia Mendez,female,Bilbao,Comunidad Valenciana,eugenia.mendez@example.com,1968-10-20T21:36:50.339Z,https://randomuser.me/api/portraits/women/0.jpg
3,Freddie Riley,male,Maitland,Victoria,freddie.riley@example.com,1982-09-17T21:35:02.508Z,https://randomuser.me/api/portraits/men/84.jpg
4,Ülkü Koçyiğit,female,Çanakkale,Van,ulku.kocyigit@example.com,1998-05-09T23:05:59.581Z,https://randomuser.me/api/portraits/women/73.jpg
5,Sara Christiansen,female,Horsens,Danmark,sara.christiansen@example.com,1956-09-18T07:27:54.549Z,https://randomuser.me/api/portraits/women/2.jpg
6,Kelya Lecomte,female,Poitiers,Charente,kelya.lecomte@example.com,1997-09-27T17:07:10.658Z,https://randomuser.me/api/portraits/women/33.jpg
7,Milica Andre,female,Bière,Schaffhausen,milica.andre@example.com,1971-07-06T02:37:41.690Z,https://randomuser.me/api/portraits/women/91.jpg
8,Eden Dumont,female,Nancy,Lozère,eden.dumont@example.com,1990-09-10T15:27:22.300Z,https://randomuser.me/api/portraits/women/77.jpg
9,Abigail Lam,female,Chatham,Yukon,abigail.lam@example.com,1989-06-14T21:33:04.356Z,https://randomuser.me/api/portraits/women/34.jpg

Now we have a *pandas* dataframe that can be used for any testing purposes that the tester might have.

## Example 2: Fruityvice API

Another, more common way to use APIs, is through `requests` library. The next lab, Requests and HTTP, will contain more information about requests.

We will start by importing all required libraries.

In [21]:
import requests
import json

We will obtain the [fruityvice](https://www.fruityvice.com) API data using `requests.get("url")` function. The data is in a json format.

In [26]:
data = requests.get("https://fruityvice.com/api/fruit/all")

We will retrieve results using `json.loads()` function.

In [27]:
results = json.loads(data.text)

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

We will convert our json data into *pandas* data frame.

In [ ]:
pd.DataFrame(results)

The result is in a nested json format. The 'nutrition' column contains multiple subcolumns, so the data needs to be 'flattened' or normalized.

In [ ]:
df2 = pd.json_normalize(results)

In [ ]:
df2

Let's see if we can extract some information from this dataframe. Perhaps, we need to know the family and genus of a cherry.

In [ ]:
cherry = df2.loc[df2["name"] == 'Cherry']
(cherry.iloc[0]['family']) , (cherry.iloc[0]['genus'])

## Exercise 2
In this Exercise, find out how many calories are contained in a banana.

In [ ]:
# Write your code here

<details><summary>Click here for the solution</summary>

```python
cal_banana = df2.loc[df2["name"] == 'Banana']
cal_banana.iloc[0]['nutritions.calories']
```

</details>

## Exercise 3

This [page](https://mixedanalytics.com/blog/list-actually-free-open-no-auth-needed-apis/) contains a list of free public APIs for you to practice. Let us deal with the following example.

#### Official Joke API 
This API returns random jokes from a database. The following URL can be used to retrieve 10 random jokes.

https://official-joke-api.appspot.com/jokes/ten

1. Using `requests.get("url")` function, load the data from the URL.

In [32]:
# Write your code here
url="https://official-joke-api.appspot.com/jokes/ten"
k=requests.get(url)

<details><summary>Click here for the solution</summary>

```python
data2 = requests.get("https://official-joke-api.appspot.com/jokes/ten")
```

</details>

2. Retrieve results using `json.loads()` function.

In [36]:
# Write your code here
s=json.loads(k.text)
s

[{'type': 'general',
  'setup': 'What is the hardest part about sky diving?',
  'punchline': 'The ground.',
  'id': 245},
 {'type': 'general',
  'setup': 'Why did the invisible man turn down the job offer?',
  'punchline': "He couldn't see himself doing it",
  'id': 51},
 {'type': 'general',
  'setup': 'What did celery say when he broke up with his girlfriend?',
  'punchline': "She wasn't right for me, so I really don't carrot all.",
  'id': 158},
 {'type': 'general',
  'setup': 'Why did the A go to the bathroom and come out as an E?',
  'punchline': 'Because he had a vowel movement.',
  'id': 314},
 {'type': 'general',
  'setup': 'What do you call a laughing motorcycle?',
  'punchline': 'A Yamahahahaha.',
  'id': 20},
 {'type': 'general',
  'setup': 'Two guys walk into a bar . . .',
  'punchline': 'The first guy says "Ouch!" and the second says "Yeah, I didn\'t see it either."',
  'id': 365},
 {'type': 'general',
  'setup': 'Why do wizards clean their teeth three times a day?',
  'punchline': 'To prevent bat breath!',
  'id': 354},
 {'type': 'general',
  'setup': "What happens to a frog's car when it breaks down?",
  'punchline': 'It gets toad away',
  'id': 30},
 {'type': 'general',
  'setup': "did you know the first French fries weren't cooked in France?",
  'punchline': 'they were cooked in Greece',
  'id': 31},
 {'type': 'general',
  'setup': "What's blue and not very heavy?",
  'punchline': 'Light blue.',
  'id': 265}]

<details><summary>Click here for the solution</summary>

```python
results2 = json.loads(data2.text)
```

</details>

3. Convert json data into *pandas* data frame. Drop the type and id columns.

In [40]:
# Write your code here
df=pd.DataFrame(s)
print(df.drop(columns=["type","id"]))

                                               setup  \
0         What is the hardest part about sky diving?
1  Why did the invisible man turn down the job of...
2  What did celery say when he broke up with his ...
3  Why did the A go to the bathroom and come out ...
4            What do you call a laughing motorcycle?
5                     Two guys walk into a bar . . .
6  Why do wizards clean their teeth three times a...
7  What happens to a frog's car when it breaks down?
8  did you know the first French fries weren't co...
9                    What's blue and not very heavy?

                                           punchline
0                                        The ground.
1                   He couldn't see himself doing it
2  She wasn't right for me, so I really don't car...
3                   Because he had a vowel movement.
4                                    A Yamahahahaha.
5  The first guy says "Ouch!" and the second says...
6                             To prevent bat breath!
7                                  It gets toad away
8                         they were cooked in Greece
9                                        Light blue.

<details><summary>Click here for the solution</summary>

```python
df3 = pd.DataFrame(results2)
df3.drop(columns=["type","id"],inplace=True)
df3
```

</details>

# Congratulations! - You have completed the lab

## Author
<a href="https://www.linkedin.com/in/svitlana-kramar" target="_blank">Svitlana Kramar</a>

Svitlana is a master’s degree Data Science and Analytics student at University of Calgary, who enjoys travelling, learning new languages and cultures and loves spreading her passion for Data Science.

## Additional Contributor
<a href="https://www.linkedin.com/in/abhishek-gagneja-23051987/" target="_blank">Abhishek Gagneja</a>

Copyright © 2023 IBM Corporation. All rights reserved.