# Python Sessions with DEPI - Session 1

### Print a message onto the screen:

In [1]:
# Using double quotes
print("saif sameh")

saif sameh

In [2]:
# Using single quotes
print('saif')

saif

In [3]:
# Try printing your name
print("saif sameh moehamed")

saif sameh moehamed

In [4]:
# What is the output?
print('let's start)
#error

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3190314312.py, line 2)

Single and duble quotes do the same job but in case you are printing a string with upstroph you should use the duble quotes like the code below

In [7]:
# Single quote inside double quotes
print("saif sameh,pythin")

saif sameh,pythin

If you want to print a long string (in multiple lines) you should use the triple quotes

In [ ]:
# Multi-line string

In [ ]:
# Try printing 1000

In [ ]:
print("1000")

### Variables and Simple Data Types
Variables are containers for storing data values, Python has no command for declaring a variable, a variable is created the moment you first assign a value to it.

In [ ]:
x = 5
y = "John"
print(x)
print(y)

In [ ]:
# Try printing "y"

In [ ]:
# Try printing x

Variables do not need to be declared with any particular type (Dynamically Typed), and can even change type after they have been set.

In [ ]:
# Guess the output
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

In [ ]:
# Guess the output
y = 10
y = 20
y = 30
print(y)

### Variable Names
A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). 

#### Rules for Python variables:
* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive (age, Age and AGE are three different variables)

In [ ]:
#Legal variable names:








#Illegal variable names:

Avoiding Name Errors When Using Variables

You should write the variable name without any mistakes

In [ ]:
# What is the output?
message = "Hello Python"
print(message)

### Data Types - Strings
A string is a series of characters. Anything inside quotes is considered a string in Python, and you can use single or double quotes around your strings

In [ ]:
name = "Ali"

Changing Case in a String with Methods

In [ ]:
# Try using .upper() and .lower() methods

In [ ]:
# Can we print 2 variables using 1 print statement?
first_name = "Mahmoud"
last_name = "Ali"

To add a tab to your text, use the character combination \t as shown

In [ ]:
# What is the output?
print("\tPython")

<code>\n</code> means new line

In [ ]:
# What is the output?
print("Languages:\nPython\nC\nJavaScript")

String concatenation

In [ ]:
# What is the output?
print('mahmoud' + 'hassan')

In [ ]:
# What is the output?
print("10" + "1")

### Fstring

In [ ]:
first_name = "mahmoud"
last_name = "hassan"

### Data Types - Numbers

#### Integers

#### Floats
Python calls any number with a decimal point a float

In [ ]:
# Some arithmatic operations applied on integers

In [ ]:
# What is the output?
print((1+2)*4)

In [ ]:
# What is the output?
print(100 + 0.5)

**Try It Yourself**
Write addition, subtraction, multiplication, and division operations that each result in the number 8. 
Be sure to enclose your operations in print() calls to see the results. You should create four lines that look like this: print(5+3)

When you divide any two numbers, even if they are integers that result in a
whole number, you’ll always get a float:
4/2 ⇒ 2.0

In [ ]:
4/2

In [ ]:
1 + 2.0

Multiple Assignment
You can assign values to more than one variable using just a single line. This can help shorten your programs and make them easier to read; you’ll use this technique most often when initializing a set of numbers. For example, here’s how you can initialize the variables x, y, and z

In [ ]:
x = 10
y = 20
z = 30

In [ ]:
# What is the output?
x, y, z = 0, 1, 2
print(z)

#### Constants
A constant is like a variable whose value stays the same throughout the life of a program. Python doesn’t have built-in constant types, but Python programmers use all capital letters to indicate a variable should be treated as a constant and never be changed:

In [ ]:
# Create a constant using python programmers convention

#### Comments

In [ ]:
# Say hello to everyone.
print("Hello Python people!")

In [25]:
'''
My name is mahmoud ali
Age : 14
Address : Egypt 
'''

'\nMy name is mahmoud ali\nAge : 14\nAddress : Egypt \n'

In [ ]:
# What is the output?
print(10+10)
print("Ali"+10)

20

TypeError: can only concatenate str (not "int") to str

In [ ]:
# What is the output?
name = "Ali"
num = 10.5
test = f"{name} {num}"
print(test)

Ali 10.5

#### List

In [ ]:
# Create a list of names (strings)


# Create another list of strings and integers


# Show both lists

['mahmoud', 'ali', 'ahmed', 'mohamed']

#### Accessing Elements in a List
NOTE: Index Positions Start at 0, Not 1

In [ ]:
# What is the output?
names = ['mahmoud', 'ali', 'ahmed', 'mohamed']
print(names[3])

In [ ]:
# The last element in your list will have the index of -1
# What is the output?
print(names[-1])

#### Changing, Adding, and Removing Elements

In [ ]:
names = ['mahmoud', 'ali', 'ahmed', 'mohamed']
print(names)

In [ ]:
# Modifying Elements in a List

In [ ]:
# Adding Elements to a List

In [ ]:
# You can append (add) any items to your empty list like:
# What is the output?
t1 = ['a', 'b', 'c']


print(t1)

names.append(t1)
names.append('Ali')
names.append('samer')
print(names)

['a', 'b', 'c']
['mahmoud', 'ali', 'ahmed', 'mohamed', ['a', 'b', 'c'], 'Ali', 'samer']

In [ ]:
# extend takes a list as an argument and appends all of the elements:
# What is the output?
t1 = ['a', 'b', 'c']
t2 = ['d', 'e']

t1.append(t2)
#t1.extend(t2)
print(t1)

['a', 'b', 'c', ['d', 'e']]

In [ ]:
# Inserting Elements into a List
motorcycles = ['honda', 'yamaha', 'suzuki']

In [ ]:
# Removing an Item Using the del Statement

In [ ]:
# Removing an Item Using the pop() Method
names = ['mahmoud', 'ali', 'ahmed', 'mohamed']

In [ ]:
# What is the output?
motorcycles = ['honda', 'yamaha', 'suzuki']
popped_motorcycle = motorcycles.pop()
print(popped_motorcycle)

In [ ]:
# Removing an Item by Value

In [ ]:
# Organizing a List
# What is the output?
numbers = [5, 3, 1, 4,2]
#numbers.sort()
print(numbers)

[5, 4, 3, 2, 1]

In [38]:
numbers.reverse()
print(numbers)

[1, 2, 3, 4, 5]

Notice that reverse() doesn’t sort backward.

In [ ]:
# Sorting a list of strings
# What is the output?
names = ['mahmoud', 'ali', 'ahmed', 'mohamed']
names.sort()
print(names)

In [ ]:
#Finding the Length of a List

In [39]:
# Avoiding Index Errors When Working with Lists
# What is the output?
names = ['mahmoud', 'ali', 'ahmed', 'mohamed']
print(names[4])

IndexError: list index out of range

In [ ]:
# Print the items inside the list one by one
names = ['mahmoud', 'ali', 'ahmed', 'mohamed']

mahmoud
ali
ahmed
mohamed

In [ ]:
#Looping Through an Entire List

In [1]:
# Doing Something After a for Loop
# What is the output?
names = ['mahmoud', 'ali', 'ahmed', 'mohamed']

for name in names:
    print(name)

print('the end')

mahmoud
ali
ahmed
mohamed
the end

In [42]:
# Making Numerical Lists Using range function
# What is the output?
numbers = list(range(1, 20)) 
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
# Create a list of even numbers starting at 2 till 10 (included)

[2, 4, 6, 8, 10]

In [ ]:
# We can use the "range" function with "for" loop
# What is the output?
for number in range(1,11):
    print(number)

In [ ]:
# Quiz 
# create a list of squares from 1 to 10 numbers

# Solution

<details><summary><h4>Quiz Solution</h4></summary>

```python
squares = [x**2 for x in range(1, 11)]
print(squares)
```

</details>

In [44]:
# Simple Statistics with a List of Numbers
# What is the output?
digits = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

print(min(digits))

print(max(digits))

print(sum(digits))

0
9
45

In [ ]:
# List Comprehensions
# What is the output?
squares = [value**2 for value in range(1, 11)]
print(squares)

In [ ]:
# List of even numbers from 1 to 20

In [ ]:
# List of coordinate pairs in a 3x3 grid

In [ ]:
# Multiplication table from 1 to 10

In [ ]:
squares = []
for value in range(1, 11):
      squares.append(value ** 2)

print(squares)

**Try It Yourself**


3.1 Guest List: If you could invite anyone, living or deceased, to dinner, who would you invite? 
Make a list that includes at least three people you’d like to invite to dinner. Then use your list to print a message to each person, inviting them to dinner.

In [11]:
guests =["my dad ","my mom ","my brother "]
for name in guests:
    print (f"i invite you to have dinner with me {name}")

i invite you to have dinner with me my dad
i invite you to have dinner with me my mom
i invite you to have dinner with me my brother

3.2 Changing Guest List: You just heard that one of your guests can’t make the dinner, so you need to send out a new set of invitations. You’ll have to think of someone else to invite. 
Start with your program from Exercise 3.1. Add a print() call at the end of your program stating the name of the guest who can’t make it. 
Modify your list, replacing the name of the guest who can’t make it with the name of the new person you are inviting. 
Print a second set of invitation messages, one for each person who is still in your list.

In [ ]:
guests =["my mom ","my brother ","my dad "]
print ("unfortuntly my dad cant get to my dinner")
guests[2] = "my sis"  
for name in guests:
      print (f"i invite you to have dinner with me {name}")

unfortuntly my dad cant get to my dinner
i invite you to have dinner with me my mom
i invite you to have dinner with me my brother
i invite you to have dinner with me my sis

3.3 More Guests: You just found a bigger dinner table, so now more space is available. Think of three more guests to invite to dinner.

In [23]:
guests =["my mom ","my brother ","my dad "]
print ("unfortuntly my dad cant get to my dinner")
guests[2] = "my sis"  
print("i found a bigger table")
guests.insert(0,"mostafa satwet")  
guests.insert(3,"mahmoud ezzat")
guests.append("my teacher ")   
for name in guests:
      print (f"i invite you to have dinner with me {name}")

unfortuntly my dad cant get to my dinner
i found a bigger table
i invite you to have dinner with me mostafa satwet
i invite you to have dinner with me my mom
i invite you to have dinner with me my brother
i invite you to have dinner with me mahmoud ezzat
i invite you to have dinner with me my sis
i invite you to have dinner with me my teacher



Start with your program from Exercise 3.1 or Exercise 3.2. Add a print() call to the end of your program informing people that you found a bigger dinner table. 
Use insert() to add one new guest to the beginning of your list.


Use insert() to add one new guest to the middle of your list. 


Use append() to add one new guest to the end of your list. 


Print a new set of invitation messages, one for each person in your list